*.pyc
*.png

Version_20250524_MVAID_forPreApp/*

# Dev files
pyproject.toml
.pylintrc
.vscode/
HHbbgg_classifier.yaml
condor/

# Notebooks
merge_multiclass.ipynb
sculpting.ipynb
notebooks/gifs.ipynb
notebooks/nolumi.ipynb
notebooks/torch_negative_avg.ipynb
notebooks/bootstrap_merged_boosted.ipynb
plots/
HHbbgg_conditional_classifiers.code-workspace
env_debug.yml
env-mac.yml
